$red: #ef2a82;
$red-pink: #bb3471;
$dark-blue: #172755;
$light-blue: rgb(50, 70, 129);
$border: #2a407c;
$border-white: #d3d9e9;
$blue-dark: #0f1f4b;
$blue: #0088f0;
$body: #f8f9ff;
$chart-lines: #eeeef6;
$text---secondary: #8794ba;
$text---main: #172755;
$white: #fff;
$grey: grey;
$light-grey:#465b95;


$wrap-indent: 30px;

$trans: .2s ease;
$trans-1s: .01s ease;
$outline: 2px double currentColor;
$offset: 5px;
$br: 68px;

